*{
    margin: 0;
    padding: 0;
}

.about {
    padding: 5% 15%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.about_conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.about_conteudo_titulo {
    font-size: 24px;
    font-family: var(--fonte-primaria);
}

.about_conteudo_texto {
    font-size: 20px;
    font-family: var(--fonte-secundaria);
}
.cabecalho_menu a {
    text-decoration: none;
    font-size: 1rem;
}

.redes_sociais {
    text-align: left;
    display: flex;
    gap: 10px;
}

.icone_rede_social {
    width: 24px;
    height: 24px;
    vertical-align: middle;
}
.about_icones {
    width: 50%;
    height: 400px; 
    position: relative;
}

.icone {
    width: 50px; 
    height: 50px; 
    position: absolute;
}

.about_links{
    text-align: center;
    margin: 20px 0;
}

.about_link{
    display: inline-block;
    text-decoration: none;
    font-size: 1.5rem;
    border: 2px solid var(--cor-secundaria);
    border-radius: 8px;
    padding: 15px 30px;
    font-weight: 600; 
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    transition: background-color 0.3s ease;
}

.icones .icone:nth-child(1) { top: 80%; left: 32%; }
.icones .icone:nth-child(2) { top: 50%; left: 45%; }
.icones .icone:nth-child(3) { top: 25%; left: 57%; }
.icones .icone:nth-child(4) { top: 50%; left: 70%; }
.icones .icone:nth-child(5) { top: 50%; left: 20%; }
.icones .icone:nth-child(6) { top: 80%; left: 57%; }
.icones .icone:nth-child(7) { top: 25%; left: 32%; }
.icones .icone:nth-child(8) { top: 100%; left: 45%; }


/* Responsividade para telas médias */
@media (max-width: 1024px) {
    .about {
        flex-direction: column;
        align-items: center;
    }

    .about_conteudo, .about_icones {
        width: 100%;
        text-align: center;
    }

    .about_icones {
        height: 300px;
    }
}

/* Responsividade para telas pequenas */
@media (max-width: 768px) {
    .about_conteudo_titulo {
        font-size: 20px;
    }

    .about_conteudo_texto {
        font-size: 18px;
    }

    .about_icones {
        height: 250px; 
    }
}

/* Responsividade para telas muito pequenas */
@media (max-width: 480px) {
    .about_conteudo_titulo {
        font-size: 18px;
    }

    .about_conteudo_texto {
        font-size: 16px;
    }

    .about_icones {
        height: 200px; 
    }

    .icone {
        width: 40px;
        height: 40px;
    }

    /* Ajusta a posição dos ícones para telas pequenas */
    .icones .icone:nth-child(1) { top: 70%; left: 30%; }
    .icones .icone:nth-child(2) { top: 40%; left: 40%; }
    .icones .icone:nth-child(3) { top: 20%; left: 50%; }
    .icones .icone:nth-child(4) { top: 40%; left: 60%; }
    .icones .icone:nth-child(5) { top: 40%; left: 15%; }
    .icones .icone:nth-child(6) { top: 70%; left: 50%; }
    .icones .icone:nth-child(7) { top: 20%; left: 30%; }
    .icones .icone:nth-child(8) { top: 85%; left: 40%; }
}