.cabecalho{
    padding: 2% 0% 0% 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}    
.cabecalho_menu{
    display: flex;
    gap: 80px;
}
.cabecalho_menu_link{
    font-family: var(--fonte-terciaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-secundaria);
    text-decoration: none;
}
.cabecalho_menu a {
    text-decoration: none;
    font-size: 1rem;
}

.redes_sociais {
    text-align: left;
    display: flex;
    gap: 20px;
    margin-left: auto; 
}

.icone_rede_social {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin-left: auto; 
}
/* Responsividade para telas médias */
@media (max-width: 1024px) {
    .cabecalho {
        padding: 2% 0% 0% 10%; 
    }

    .cabecalho_menu {
        gap: 40px; 
    }

    .cabecalho_menu_link {
        font-size: 1.3rem; 
    }
}

/* Responsividade para telas pequenas */
@media (max-width: 768px) {
    .cabecalho {
        padding: 2% 5%; 
    }

    .cabecalho_menu {
        flex-direction: column; 
        gap: 20px; 
    }

    .cabecalho_menu_link {
        font-size: 1.1rem; 
    }
}

/* Responsividade para telas muito pequenas */
@media (max-width: 480px) {
    .cabecalho {
        padding: 2% 2%; 
    }

    .cabecalho_menu {
        gap: 10px; 
    }

    .cabecalho_menu_link {
        font-size: 1rem; 
    }
}
