:root {
    --cor-primaria: #000000;
    --cor-secundaria: #FFFFFF;
    --cor-terciaria: #22D4FD;
    --cor-hover: #988DFF;

    --fonte-primaria: 'Roboto', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
    --fonte-terciaria: 'Anek Kannada', sans-serif;

    --font-size-base: 16px; /* Fonte base para rem */
}

body {
    font-size: var(--font-size-base);
}

.cabecalho_menu a {
    margin: 0 1rem;
    text-decoration: none;
    color: var(--cor-secundaria);
}

.projetos {
    padding: 5% 10%;
    text-align: center;
}

.projetos_intro {
    margin-bottom: 3rem;
}

.projetos_lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2rem;
}

.projeto {
    width: 30%;
    margin: 1rem 0;
    text-align: left;
    border: 1px solid var(--cor-secundaria);
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.projeto:hover {
    transform: translateY(-10px); /* Efeito hover para elevar o projeto */
}

.projeto img {
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
}

.projeto h2 {
    font-size: 1.5rem;
    margin-top: 1rem;
    font-family: var(--fonte-secundaria);
}

.projeto p {
    font-size: 1rem;
    margin: 1rem 0;
    font-family: var(--fonte-terciaria);
}

.projeto a {
    display: block;
    margin: 5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    text-align: center;
    width: 100%; 
    padding: 10px 0;
    border: 2px solid var(--cor-secundaria); 
    border-radius: 8px;
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.projeto a:hover {
    background-color: var(--cor-hover);
}

.projeto_voltar {
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.projeto_voltar_link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-size: 1rem;
    color: var(--cor-secundaria);
    text-decoration: none;
    font-family: var(--fonte-secundaria);
}

@media (max-width: 1024px) {
    .projeto {
        width: 45%;
    }
}

@media (max-width: 768px) {
    .projeto {
        width: 100%;
        margin: 1rem 0;
    }

    .projetos {
        padding: 5% 8%;
    }

    .projetos_intro {
        margin-bottom: 2rem;
    }
}

@media (max-width: 480px) {
    .projetos {
        padding: 5% 5%;
    }

    .projeto {
        padding: 1rem;
    }

    .projeto h2 {
        font-size: 1.2rem;
    }

    .projeto p {
        font-size: 0.9rem;
    }

    .projeto_voltar_link {
        flex-direction: column;
        gap: 0.5rem;
    }
}

