@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek Kannada:wght@400&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #EEEEEE;
    --cor-terciaria: #22D4FD;
    --cor-hover: #272727;

    --fonte-primaria: 'Roboto', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
    --fonte-terciaria: 'Anek Kannada', sans-serif;
}
*{
    margin: 0;
    padding: 0;
}

body{    
    background: linear-gradient(#1354A5 0%, #041832 33.33%, #041832 66.67%, #01080E 100%);
    background-color: var(--cor-primaria);
    background-image: url('../assets/fundo_tech.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
    color: var(--cor-secundaria);
    font-family: var(--fonte-terciaria);
}
main {
    flex: 1;
}
footer{
    margin-top: auto;
}

.apresentacao{
    padding: 5% 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(8.24px, 1vh * 100);
}
.apresentacao_conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: center;
}

.apresentacao_conteudo_titulo{
    font-size: 2rem;
    font-family: var(--fonte-terciaria);
    text-transform: uppercase;
}
.apresentacao_conteudo_texto{
    font-size: 1.5rem;
    font-family: var(--fonte-terciaria);
}

.apresentacao_imagem {
    width: 50%;
}
.apresentacao_links {
    display: flex;
    gap: 20px;
    justify-content: center; /* Centraliza os links horizontalmente */
}
.apresentacao_link {
    border: 2px solid var(--cor-secundaria);
    border-radius: 8px;
    padding: 15px 30px;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    transition: background-color 0.3s ease;
}

.apresentacao_link:hover {
    background-color: var(--cor-hover);
}
.noise {
    position: fixed;
    z-index: 9999;
    top: -300%;
    left: -150%;
    height: 600%;
    width: 600%;
    -webkit-animation: grain 7s steps(10) infinite;
    animation: grain 7s steps(10) infinite;
    background-image: url("../assets/noise.png");
    background-size: 100px;
    background-repeat: repeat;
    opacity: .25;
    pointer-events: none;
}

@media (max-width: 768px) {
    .apresentacao {
        padding: 4%;
    }

    .apresentacao_conteudo {
        width: 90%; /* Aumenta a largura em telas menores */
        gap: 20px; /* Reduz o espaço entre os elementos */
    }

    .apresentacao_conteudo_titulo {
        font-size: 1.5rem; /* Ajusta o tamanho da fonte */
    }

    .apresentacao_conteudo_texto {
        font-size: 1.2rem; /* Ajusta o tamanho da fonte */
    }

    .apresentacao_links {
        flex-direction: column; /* Empilha os links verticalmente */
    }

    .apresentacao_link {
        font-size: 20px; /* Reduz o tamanho da fonte */
        padding: 10px 20px; /* Ajusta o padding */
    }
}